<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
		<add key="LogType" value="1" />
		<add key="LogGrade" value="6" />
		<add key="LogMsgType" value="1" />
		<add key="LogFunctionName" value="1" />
		<add key="LogMessage" value="1" />
		<add key="LogDescription" value="1" />
		<add key="Seperator" value="|" />
		
		<add key="Port" value="Com3" />
		<add key="RefreshTime" value="1000" />
		<add key="SetSN" value="1" />
	    <add key="TaskNoFormat" value="YYMMDDHHMISS" />
		<add key="Para_A" value="1" />
		<add key="Para_B" value="500" />
		<add key="Para_CardinalNumber" value="0" />
		<add key="J2Reset" value="1"/>
		<add key="ComputeRatio" value="1"/>
		<add key="AllowUpdateLength" value="true"/>
		
	</appSettings>
	  <connectionStrings>
		<add name="MeasurerXML" providerName="WXG.DB.XML" connectionString="D:\MeasurerData;30" />
      </connectionStrings>
</configuration>